body {
  height: 100vh;
  background-color: #E4E9F7;
}

.sidebar {
  position: fixed;
  font-family: "Poppins";
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #fff;
  padding: 10px 14px;

  header {
    position: relative;
  }

  .sidebar__imgText {
    display: flex;
    align-items: center;
  }

  span {
    font-size: 16px;
    font-weight: 500;
    color: #707070;
  }

  .sidebar__image {
    min-width: 152px;
    display: flex;
    align-items: center;

    img {
      width: 140px;
      height: 40px;
    }
  }

  .sidebar__headerText {
    display: flex;
    flex-direction: column;
  }

  .sidebar__name {
    font-weight: 600;
  }

  .sidebar__profession {
    margin-top: -2px;
  }

  .sidebar__rightArrow {
    position: absolute;
    top: 50%;
    right: -27px;
    transform: translateY(-50%);
    height: 27px;
    width: 27px;
    background-color: #695CFE;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
  }

  .sidebar__menuBar {
    height: calc(100% - 50px);
    display: flex;

    span {
      color: #707070;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    img {
      width: 25px;
      height: 25px;
      margin: 0px 31px 0 31px;
    }

    .sidebar__boxIcon {
      margin: 0px 25px 0 25px;
    }

    li {
      height: 50px;
      margin-top: 10px;
      list-style-type: none;
      display: flex;
      cursor: pointer;
      align-items: center;
    }

    a {
      display: flex;
      align-items: center;
      border-radius: 6px;
      text-decoration: none;
      height: 100%;
      transition: all 0.3s ease;
      width: 100%;

    }

    a:hover {
      background-color: #695CFE;
      span {
        color: #ffffff;
      }
    }

    .sidebar__search {
      width: 27px;
      height: 27px;
    }

    .sidebar__searchBox {
      background-color: #F6F5FF;
      border-radius: 6px;
      input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 6px;
        background-color: #F6F5FF;
      }
    }
  }

  .sidebar__bottomContent {
    margin-top: 10%;
  }
}

