.lostPass {
  font-family: 'Nunito';
  background-color: #eff4fb;
  min-height: 100vh;
  overflow-x: hidden;

  .lostPass__container {
    position: relative;
  }

  .lostPass__bgBlue {
    height: 40vh;
    width: 100%;
    object-fit: cover;
    background-size: cover;

    @media (min-width: 600px) {
      height: 50vh;
    }
  }

  .lostPass__bgLost {
    position: absolute;
    bottom: 0;
    right: 3%;
    max-width: 40%;

    img {
      max-width: 100%;
      height: auto;
    }

    @media (max-width: 599px) {
      display: none;
    }
  }

  .lostPass__title {
    position: absolute;
    bottom: 20%;
    left: 8%;
    right: 8%;

    @media (min-width: 600px) {
      bottom: 30%;
      left: 15%;
      right: auto;
    }

    h1 {
      color: #fff;
      font-size: 28px;
      margin: 0;

      @media (min-width: 600px) {
        font-size: 40px;
      }
    }

    p {
      color: #fff;
      font-weight: 400;
      font-size: 15px;
      margin: 0;

      @media (min-width: 600px) {
        font-size: 17px;
      }
    }
  }

  .lostPass__content {
    background-color: #eff4fb;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
    box-sizing: border-box;
  }

  .lostPass__position {
    min-height: 50%;
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    padding: 24px 20px;
    position: relative;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.1%);
    box-sizing: border-box;

    @media (min-width: 600px) {
      max-width: 50%;
      padding: 30px;
    }

    p {
      margin: 0 0 15px 0;
      color: #646464;
      font-family: 'Roboto';
    }
    h3 {
      font-weight: 400;
      color: #646464;
      font-family: 'Roboto';
      margin-bottom: 8px;
    }

    input {
      outline: none;
      padding: 10px;
      border: 1px solid #eaeaea;
      width: 100%;
      max-width: 300px;
      box-sizing: border-box;
    }

    input:focus {
      border: 1px solid #1a73a8;
    }

    button {
      background-color: #2d5be3;
      border: none;
      cursor: pointer;
      margin-top: 20px;
      color: #fff;
      padding: 12px;
      border-radius: 5px;
      font-weight: 600;
      font-family: 'Roboto';
      font-size: 14px;
      box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2%);
    }

    a {
      text-decoration: none;
      color: #2d5be3;
      display: inline-block;
      margin-top: 16px;
      font-weight: 600;

      @media (min-width: 600px) {
        position: absolute;
        right: 100px;
        bottom: 30px;
        margin-top: 0;
      }
    }
  }
}
