.lostPass {
  font-family: 'Nunito';
  background-color: #eff4fb;

  .lostPass__container {
    position: relative;
  }

  .lostPass__bgBlue {
    height: 50vh;
    width: 100%;
    background-size: cover;
  }

  .lostPass__bgLost {
    position: absolute;
    bottom: 0;
    right: 3%;
  }

  .lostPass__title {
    position: absolute;
    bottom: 30%;
    left: 15%;

    h1 {
      color: #fff;
      font-size: 40px;
      margin: 0;
    }

    p {
      color: #fff;
      font-weight: 400;
      font-size: 17px;
      margin: 0;
    }
  }

  .lostPass__content {
    background-color: #eff4fb;
    width: 100%;
    height: 49vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lostPass__position {
    min-height: 50%;
    max-width: 50%;
    background-color: #fff;
    padding: 30px;
    position: relative;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.1%);

    p {
      margin: 0 0 15px 0;
      color: #646464;
      font-family: 'Roboto';
    }
    h3 {
      font-weight: 400;
      color: #646464;
      font-family: 'Roboto';
      margin-bottom: 8px;
    }

    input {
      outline: none;
      padding: 10px;
      border: 1px solid #eaeaea;
      width: 300px;
    }

    input:focus {
      border: 1px solid #1a73a8;
    }

    button {
      background-color: #2d5be3;
      border: none;
      cursor: pointer;
      margin-top: 20px;
      color: #fff;
      padding: 12px;
      border-radius: 5px;
      font-weight: 600;
      font-family: 'Roboto';
      font-size: 14px;
      box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2%);
    }

    a {
      text-decoration: none;
      color: #2d5be3;
      position: absolute;
      right: 100px;
      bottom: 30px;
      font-weight: 600;
    }
  }
}